<h1 class="my-5">All Companies</h1>
<table class="table table-borderless">
  <thead class="thead-light">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Add position</th>
    </tr>
  </thead>
  <tbody>
    <% @companies.each do |company| %>
      <tr>
      <td><%= link_to company.name, company_path(company) %></td>
      <td><%= link_to "create", new_company_position_path(company) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
