<h1 class="my-5">COMPANY DATA</h1>

<p class="text-danger"><%= flash[:message] %></p>

<div class="card w-100" id="companies-wrapper">
    <!-- render via JS -->
</div>

<div class="my-5">
  <%= link_to 'Back', url_for(:back) %>
</div>
