<h1 class="mt-5"><%= @company.name %></h1>
<div id="company-wrapper" class="my-3">
  <!-- Rendered via JS -->
</div>

<h3 class="mt-5 mb-3">Current opening positions: </h3>
<div id="positions-wrapper" data-id="<%= @company.id %>">
    <!-- Rendered via JS -->
</div>

<div class="my-5">
  <%= link_to 'Back', url_for(:back) %>
</div>
